<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/help_buddy_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/help_buddy_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Help">

        <activity
            android:name=".home.needs.NeedDetailActivity"
            android:exported="false" />
        <activity
            android:name=".home.navigation_drawer.components.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".home.navigation_drawer.components.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".home.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".log_reg.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".log_reg.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".log_reg.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>